<div>
  <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class=>"ml-2 rounded-lg py-2 px-4 bg-red-400 inline-block font-medium group relative w-full flex justify-center border border-transparent text-sm hover:bg-red-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %></p>
</div>